<aside class="sidebar">
    <nav class="sidebar-nav">
        <ul>
            <li><a href="/">Главная</a></li>
            <li class="sidebar-dropdown">
                <a href="/about">О комитете</a>
                <ul class="dropdown-content">
                    <li><a href="/about/mission">Наша миссия</a></li>
                    <li><a href="/about/history">История</a></li>
                    <li><a href="/about/goals">Наши цели</a></li>
                </ul>
            </li>
            <li><a href="/activities">Деятельность</a></li>
            <li><a href="/map">Карта</a></li>
            <li><a href="/contact">Контакты</a></li>
        </ul>
    </nav>
</aside>